@use 'vars.scss';

.title {
    font-size: var(--lg);
    margin-bottom: 20px;
    margin-top: 16px;
    padding-left: 20px;
  }
  .my-order-container {
    width: 360px;
    position: absolute;
    right: 8em;
    top: 100px;
    border-radius: 5px;
    
    box-shadow: 0px 0px 14px 1px rgb(213, 215, 223);
    -webkit-box-shadow: 1px 14px 28px 1px hsl(227, 16%, 83%);
  
    background: var(--White) ;
    
  }
  .my-order-content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--Grayish-blue);
    padding: 20px;
  }
  .empty-cart{
    display: flex;
    justify-content: center;
  }
  .my-order-total-container{
    padding: 0 20px 20px 20px;
  }
  .my-order-total{
    display: flex;
    justify-content: space-between;
    background-color: var(--Pale-orange);
    margin-bottom: 10px;
    border-radius: 8px;
    padding-inline: 10px;
  }
  .checkout-total-button{
    padding: 20px;
    width: -webkit-fill-available;
    cursor: pointer;
  }
 