@use './vars.scss';

.product-info {
  
    margin: 82px 24px 60px 38px;
  
    height: 100%;
    display: flex;
  }
  .product-visualitation > img:nth-child(1) {
    width: 448px;
    height: 448px;
    object-fit: cover;
    border-radius: 20px;
  }
  .product-images-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: auto;
  }
  .img-product-button:hover{
    opacity: .7;
    cursor: pointer;
  }
  .product-images-container img {
    width: 94px;
    border-radius: 12px;
  }


  
.product-description {
  margin: 60px 24px 0 120px;
}
.product-description h1{
  font-size: 14px;
  color: var(--Orange);
}
.product-description h2{
  font-size: 42px;
  margin-block-start: 13px;

}

.text-description {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 18px;
  line-height: 1.6;
  width: 422px;
}
.final-price{
  display: flex;
  align-items: center;
  margin-bottom: -6px;
}
.final-price span:nth-child(1){
  font-size: 30px;
  font-weight: 700;
}
.final-price span:nth-child(2){
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 5px;
  padding: 4px 10px 4px 10px;
}

.product-description p:nth-child(5) {
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  color: var(--Grayish-blue);
  margin-bottom: 32px;
}
.section-add-to-cart{

  display: flex;
}
.plus-less-button-container{
  display: flex;
  border-radius: 8px;
  
  background-color: var(--Light-grayish-blue);
}
.plus-less-button  {
  width: 52px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--Orange);
  padding: 7px;
  border: none;
  cursor: pointer;
  background: none;
}
.amountItem{
  width: 52px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.primary-button {
  background-color: var(--Orange);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.img{
  width: 8%;
  float: left;
  filter: brightness(3.25);
  margin-right: 16px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  
}