@use 'vars.scss';

.close-icon-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 34px;
  }
  .close-icon{
    width: 22px;
    cursor: pointer;
  
  }
  .controls{
    position: relative;
    top: 274px;
    display: flex;
    justify-content: space-between;
    
  }
  .control{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }
  .control-left{
    position: relative;
    right: 30px;
  
  }
  .control-rigth{
    position: relative;
    left: 30px;
  
  }
  .img-visualitation-zoom{
    background: none;
    position: absolute;
    top: 5%;
    left: 30%;
  }
  .img-Container{
    display: flex;
    justify-content: center;
  }
  .img-Container img{
    height: 535px;
    width: 538px;
    border-radius: 20px;
  }
  .thumbnail-container{
    background-color: white;
    border-radius: 12px;
    height: 94px;
  
  }
  
  .product-images-container .thumbnails:hover{
    opacity: .7;
    cursor: pointer;
  }
  .active{
    opacity: .3!important;
  }
  
  .zoom-thumbnails{
    padding: 42px 49px;
    margin-top: 0;
  }
  
  